<section class="vh-100 bg-light">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center">
        <img src="assets/images/logo.png" class="img-fluid px-5" alt="Logo">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h1 class="fw-bolder text-center text-lg-start">Tasks App</h1>
        <hr>
        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-primary btn-lg shadow" (click)="_signInWithGoogle()">Iniciar sesión con
            Google
            <i class="bi bi-google ms-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
